.viewTable {
    border-collapse: collapse;
    border: 1px solid #666666;
    font: normal 11px verdana, arial, helvetica, sans-serif;
    color: #363636;
    background: white;
    text-align:left;
}

.viewTable input{
    display:inline;
}

.viewTable thead, .viewTable tfoot {
    /*background:url(../images/bg1.png) repeat-x;*/
    /*color: background;*/
    background: linen;
    text-align:left;
    height:30px;
}
.viewTable thead th,
.viewTable tbody td {
    padding:5px;
    border: 1px solid #666666;
}
.viewTable tr.odd {
    background: #f6f6f6;
}
.viewTable tr.green {
    background: #58f693;
}

.viewTable tr.HOdd {
    background: #E2F5FA;
}
.viewTable tr.HEven {
    background: #E7F0E6;
}

@media print {
    body * {
        visibility: hidden;
        /*font-size: 10pt;*/
    }

    #divPrint, #divPrint * {
        background: white;
        visibility: visible;
    }
	
    #divPrint .noPrint, #divPrint .noPrint *{
        visibility: hidden;
    }

    .HdrPrint{
        margin-left:30%;
        padding-bottom: 215px;
        background-image: url(../images/h_report.jpg);
    }

    #divPrint {
        position: absolute;
        top: 0;
        left: 0;
/*        left: 50%;
        width: 1100px;
        margin-left: -550px;*/
    }

    #konten{
        margin: 10px;
    }

    #tabel {
        display: table;
        width: 95%;
        table-layout: fixed;
        margin: 10px auto;
    }
    th{
        font-weight: bold;
    }
    table.fixed { table-layout:fixed; }
    table.fixed td { overflow: hidden;}

    table { page-break-inside:auto;}
    tr    { page-break-inside:avoid; page-break-after:auto;}
    thead { display:table-header-group;}
    tfoot { display:table-row-group;}
    table tr *{
        font-size:12pt;
    }
	table td *{
        font-size:12pt;
    }

    td a:link {text-decoration:none;color:black;}
    td a:visited {text-decoration:none;color:black;}
    td a:hover {text-decoration:none;color:black;}
    td a:active {text-decoration:none;color:black;}

    #kop{
        display: block !important;
		text-align:center;
		font-size: 24pt;
        position: relative;
    }

    #kop img {
        position: absolute;
        bottom: 0;
    }

    #kop img:nth-of-type(1) {
        left: 0;
    }

    #kop img:nth-of-type(2) {
        right: 0;
    }

    .tblPrt{
        width: 100% !important;
    }

    .repSign{
        display: inline;
    }

    .repSign_left{
        position: absolute;
        left: 1px;
    }

    .repSign_right{
        position: absolute;
        right: 1px;
    }
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.report-header{
    border-bottom: 4px double #000;
}
div.report-header h1,div.report-header h2,div.report-header h3 {
    font-family: "Times New Roman", Georgia, Serif;
    margin: 0 !important;
    text-align: center !important;
}

.differentTable, .differentTable td{
    border-color: black;
}